.contact{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url('http://localhost:3000/project-fhima/dist/img/contact/contact.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c4497;
  &__informations{
    h1{
      text-align: center;
      color: white;
    }
    p{
      text-align: center;
    }
  }
  &__form{
    &__left{
      input{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 30px;
        padding-bottom: 30px;
      }
    }
    &__right{
      textarea{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 30px;
        padding-bottom: 30px;
        min-height: 245px;
      }
    }
    &__submit{
      padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        padding: 25px;
      }
    }
  }
}
