.home{
  &__intro{
    height: 100vh;
    background-image: url('../img/home/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &--form{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .form-control{
        width: 300px;
        height: 60px;
        margin: 10px;
      }
      .validate{
        width: 200px;
        height: 60px;
        margin: 10px;
      }
    }
    &--title{
      color: white;
      font-family: montserrat;
      font-size: 20px;
      margin-bottom: 100px;
    }
  }
  &__information{
    text-align: center;
    h2,h3{
      font-family: montserrat;
      font-size: 20px;
      line-height: 22.5px;
      color: #0c4497;
    }
    p{
      font-family: questrial;
      line-height: 22.5px;
    }
    &--title{
      h2{
        margin-bottom: 80px;
      }
    }
    &__items{
      &--item{
        h3{
          font-size: 20px;
          line-height: 22.5px;
          margin-top: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .home{
    &__intro{
      &--form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-control{
          width: 400px;
          height: 50px;
        }
        .validate{
          width: 400px;
          height: 50px;
        }
      }
    }
  }
}
