.itenary{
  height: 100vh;
  background-image: linear-gradient(-73deg, #0c4497 63%, #FFFFFF 50%);
  &__recapitulatif{
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    color: #0c4497;
    margin-top: 190px;
    border-radius: 10px;
    background: white;
    padding: 50px;
    &--destination{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 60px;
      margin: 20px;
    }
    }
    h1{
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    color: #0c4497;
    margin-top: 190px;
    border-radius: 10px;
    padding: 50px;

    input{
      padding: 20px;
    }

    button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}


@media only screen and (max-width: 800px) {
  .itenary{
    background-image: linear-gradient(-73deg, #FFFFFF 63%, #FFFFFF 50%);
    height: auto;
    padding-bottom: 50px;
    &__recapitulatif{
      background-color: white;
    }
    &__form{
      background-color: white;
      border: 1px solid #0c4497;
      color: #0c4497;
      h3{
        color: black;
        font-size: 20px;
      }
    }
  }
}
