.logIn{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-73deg, #0c4497 63%, #FFFFFF 50%);
  background-repeat: no-repeat;
  background-size: cover;
  &__form{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: #0c4497;
    background: white;
    padding: 50px;
    text-align: center;
    h1 {
      padding-bottom: 20px;
    }
    &--submit{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 26px;
    }
  }
}
