.myClaim{
  height: 100vh;
  background-color: #0c4497;
  &__flight{
    height: 100px;
    background-color: white;
    border-radius: 111px;
  }
  &--recapitulatif{
    font-size: 27px;
    img{
      width: 84px;
    }
  }
}
