.new{
  height: 100vh;
  background-image: linear-gradient(-73deg, #0c4497 63%, #FFFFFF 50%);
  &__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    color: #0c4497;
    margin-top: 190px;
    border-radius: 10px;
    padding: 50px;
    input{
      padding: 20px;
    }
  }
}
