.profile{
  height: 100vh;
  background-image: linear-gradient(-50deg, #0c4497 50%, #FFFFFF 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  a{
    padding: 50px;
    background: white;
    border: 1px solid #0c4497;
  }
}



@media only screen and (max-width: 800px) {
  .profile{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
      margin: 20vh;
    }
  }
}
