.signUp{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(-73deg, #0c4497 63%, #FFFFFF 50%);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  &__form{
    &__connexion{
      color: #0c4497;
      padding: 40px;
      border-radius: 10px;
      background: white;
      padding: 50px;
      border: 1px solid black;

      h1{
        text-align: center;
        padding-bottom: 20px;
      }
    }
    &__inscription{
      color: #0c4497;
      padding: 40px;
      border-radius: 10px;
      background: white;
      padding: 50px;
     h1{
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}
