<table cellspacing="0" cellpadding="0" border="0" style="color:#333;background:#091646;padding:0;margin:0;width:100%;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica"> <tbody><tr width="100%"> <td valign="top" align="left" style="background:#85878E;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica"> <table style="border:none;padding:0 18px;margin:50px auto;width:500px"> <tbody> <tr width="100%" height="60"> <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background:#f2f2f2 url(https://ci5.googleusercontent.com/proxy/EX6LlCnBPhQ65bTTC5U1NL6rTNHBCnZ9p-zGZG5JBvcmB5SubDn_4qMuoJ-shd76zpYkmhtdzDgcSArG=s0-d-e1-ft#https://trello.com/images/gradient.png) bottom left repeat-x;padding:10px 18px;text-align:center"> <img height="60" width="auto" src="media/mamiepunchline.png" title="MamiePunchline" style="font-weight:bold;font-size:18px;color:#fff;vertical-align:top" class="CToWUd"> </td> </tr> <tr width="100%"> <td valign="top" align="left" style="background:#fff;padding:18px">

 <h1 style="font-size:20px;margin:16px 0;color:#091646;text-align:center"> Demande contact ! </h1>

 <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333;text-align:center">
 	<p> <span style="font-weight:bold;"> Name : </span> %name% </p>
 	<p> <span style="font-weight:bold;"> Email : </span>  %email% </p>
 	<p> <span style="font-weight:bold;"> Phone : </span>  %phone% </p>
 	<p> <span style="font-weight:bold;"> Message : </span>  %message% </p>
</p>


 </td>

 </tr>

 </tbody> </table> </td> </tr></tbody> </table>
